<html lang="en">
  <head>
    <link rel="stylesheet" href="/css/style.css" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blogger - All Posts</title>
  </head>
  <body>
    <div class="main-section">
      <form method="POST" action="/account/logout">
        {{#activeUser}}
        <p>Logged in as: {{ activeUser }}</p>
        {{/activeUser}}
        <button>Log out</button>
      </form>
      <h1>Blog Posts</h1>
      <a href="/posts/my-posts">View My Posts</a>
      <form method="GET" action="/posts/create">
        <button>Create new Blog post</button>
      </form>
      <ul>
        {{#posts}}

        <li>
          <h3>{{ title }}</h3>
          <p>
            <small
              >Author: {{ author }}<br />Category: {{ category }}<br />Created
              on: {{ createdAt }}<br />Last updated on: {{ updatedAt }}
            </small>
          </p>
          <p>{{ body }}</p>
          <a href="/posts/comment">Leave a Comment</a>
        </li>
        {{/posts}}
      </ul>
    </div>
  </body>
</html>
