<html lang="en">
<head>
    <link rel = "stylesheet" href = "/css/style.css"/>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogger - create post</title>
</head>
<body>
    <div class="main-section">
        <form method="POST" action="/account/logout">
            <button>Log out</button>
          </form>
    <h1>Create a New Blog Post</h1>
    <a href="/posts">View all Posts</a>

    <div class="secondary-section">
    <form method = "POST" action="/posts/create">
        <div>
            <label for="category">Category</label>
            <select name="category" id="category">
                <option value="General">General</option>
                <option value="Python">Python</option>
                <option value="JavaScript">JavaScript</option>
                <option value="iOS">iOS</option>
                <option value="Android">Android</option>
                <option value="Other">Other</option>
              </select>
        </div>

    <div>
        <label>Title:</label>
        <input type="text" placeholder="Title" name="title">
    </div>
    
    <div>
        <label>Content:</label>
        <input type="text" placeholder="Start typing here..." name="body">
    </div>
    <div>
        <label>Public / Private</label>
        <input type="radio" name="publishStatus" id = "public" value="public" checked = "checked">
        <label for="public">Public</label>
        <input type="radio" name="publishStatus" id = "private" value="private">
        <label for="public">Private</label>
    </div>
    <button>Create Post</button>
    </form>
    </div>
</div>
</body>
</html>